VITE_SUPABASE_URL=https://eodcoukggohlduxnbwac.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVvZGNvdWtnZ29obGR1eG5id2FjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MDQ1NDYsImV4cCI6MjA5MzQ4MDU0Nn0.w2OSaZyI56dUQR32bsIUZ_3OKS-LOFEZr8KiHKvnAR0
